@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Global Styles----------------------------------------------Global Styles*/

.uppercase {
    text-transform: uppercase;
}

/*Colors-------------------------------------------------------------Colors*/


.bg-color-name-header {
    background-color: #2e2e2c;
}

.menu-color-home {
    background-color: #4b5030;
}

.menu-color-who {
    background-color: #121314;
}

.menu-color-why {
    background-color: #420c11;
}

.menu-color-how {
    background-color: #09493e;
}

.bg-color-who {
    background-color: #4b5030;
}

/* Header------------------------------------------------------------Header*/

header {
    margin: 0;
}

.heading {
    text-align: center;
}

.logo {
    background: url(../images/bedlam-carousel.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
}

.name {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 36px;
    margin-top: 45px;
    margin-bottom: 45px;
    color: #f0eede;
}


.nav .list-group-item:first-child {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border: hidden;
}

.nav .list-group-item:last-child {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border: hidden;
}

.menucontainer {
    font-size: 0px;
    margin: 0;
}

.nav li {
    font-size: 14px;
    padding: 0;
}

.menu-item {
    height: 100px;
    text-align: center;
    padding: 0;
}

.menu-item a {
    width: 100%;
    text-decoration: none;
    color: #f0eede;
    height: 100px;
}

.menu-item a i {
    padding-top: 15px;
    display: block;
    color: #f0eede;
    font-size: 26px;
}

.menu-item span {
    display: block;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
}

/* Members----------------------------------------------------------Members*/ 

.members-section {
    width: 100%;
    min-height: 750px;
}

.members {
    height: 400px;
    border: solid 1px black;
    border-radius: 0.75rem;
    margin-top: 150px;
    width: 200px;
}

.louis {
    background: url("/assets/images/louis.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
}

.cleg {
    background: url("/assets/images/cleg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
}

.tom{
    background: url("/assets/images/tom.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
}

.fran {
    background: url("/assets/images/fran.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
}

.biff {
    background: url("/assets/images/biff.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
}

.dan {
    background: url("/assets/images/dan.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
}

.members:hover,
.members:focus {
    transform: scale(1.1);
}