@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500;600;700&display=swap');

/* Global Styles----------------------------------------------Global Styles*/

.uppercase {
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
}

/*Colors-------------------------------------------------------------Colors*/


.bg-color-name-header {
    /* background-color: #2e2e2c; */
    background-image:
        linear-gradient(131deg in oklab,
            oklch(31% 0.00 21) 0%, oklch(31% 0.00 21 / 80%) 33% 67%, oklch(31% 0.00 21) 100%);
}

.menu-color-home {
    /* background-color: #4b5030; */
    background-image:
        linear-gradient(131deg in oklab,
            oklch(50% 0.08 127) 0%, oklch(50% 0.08 127 / 80%) 33% 67%, oklch(50% 0.08 127) 100%);
}

.menu-color-who {
    /* background-color: #121314; */
    background-image:
        linear-gradient(131deg in oklab,
            oklch(31% 0.00 21) 0%, oklch(31% 0.00 21 / 80%) 33% 67%, oklch(31% 0.00 21) 100%);
}

.menu-color-why {
    /* background-color: #420c11; */
    background-image:
        linear-gradient(131deg in oklab,
            oklch(26% 0.15 21) 0%, oklch(26% 0.15 21 / 80%) 33% 67%, oklch(26% 0.15 21) 100%);
}

.menu-color-how {
    /* background-color: #3b5b7f; */
    background-image:
        linear-gradient(131deg in oklab,
            oklch(48% 0.09 243) 0%, oklch(48% 0.09 243 / 80%) 33% 67%, oklch(48% 0.09 243) 100%);
}

.bg-color-who {
    /* background-color: #4b5030; */
    background-image:
        linear-gradient(131deg in oklab,
            oklch(50% 0.08 127) 0%, oklch(50% 0.08 127 / 80%) 33% 67%, oklch(50% 0.08 127) 100%);
}

.link-icon:hover {
    color: oklch(48% 0.09 243);
}

.footer-menu-link:hover {
    color: oklch(48% 0.09 243);
}

.bg-color-footer {
    background-image:
        linear-gradient(131deg in oklab,
            oklch(31% 0.00 21) 0%, oklch(31% 0.00 21 / 80%) 33% 67%, oklch(31% 0.00 21) 100%);
}

/* Header------------------------------------------------------------Header*/

header {
    margin: 0;
    font-family: "Bitter", sans-serif;
}

.heading {
    text-align: center;
}

.logo {
    background: url(../images/bedlam-carousel.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
}

.name {
    font-family: "Bitter", sans-serif;
    font-weight: 400;
    font-size: 36px;
    margin-top: 45px;
    margin-bottom: 45px;
    color: #f0eede;
}


.nav .list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border: hidden;
}

.nav .list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border: hidden;
}

.menucontainer {
    font-size: 0px;
    margin: 0;
}

.nav li {
    font-size: 14px;
    padding: 0;
}

.menu-item {
    height: 100px;
    text-align: center;
    padding: 0;
}

.menu-item a {
    width: 100%;
    text-decoration: none;
    color: #f0eede;
    height: 100px;
}

.menu-item a i {
    padding-top: 15px;
    display: block;
    color: #f0eede;
    font-size: 26px;
}

.menu-item span {
    display: block;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
}

/* Members----------------------------------------------------------Members*/

.member-section {
    width: 100%;
    min-height: 750px;
    font-family: "Bitter", sans-serif;
}

.members {
    height: 400px;
    border: solid 1px black;
    border-radius: 0.75rem;
    margin-top: 150px;
    width: 200px;
    margin-bottom: 75px;
}

.member-photo {
    min-height: 400px;  
}



#louis-photo {
    background: url("/assets/images/louis.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#cleg-photo {
    background: url("/assets/images/cleg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

#tom-photo {
    background: url("/assets/images/tom.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#fran-photo {
    background: url("/assets/images/fran.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

#biff-photo {
    background: url("/assets/images/biff.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#dan-photo {
    background: url("/assets/images/dan.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

.members:hover,
.members:focus {
    transform: scale(1.1);
    border-color: #f0eede;
}

/* Member Bios--------------------------------------------------Member Bios*/

.member-info {
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
}

.member-bio p {
    text-align: left;
    color: #f0eede;
}

.bio-link {
    text-decoration: none;
    margin-left: 50px;
    color: #f0eede;
}

hr {
    height: 7.5px;
    width: 150px;
    margin: 0 auto;
    background-color: #f0eede;
    border-radius: 0.75rem;
}

.member-info:last-child {
    padding-bottom: 30px;
    margin-bottom: 0;
}

.member-info:focus-visible {
    padding-top: 5rem;
    padding-bottom: 5rem;
}


/* Footer------------------------------------------------------------Footer*/

footer {
    min-height: 100px;
    margin: 0;
    font-family: "Bitter", sans-serif;
}

.footer-wrapper {
    height: 100%;
}

.footer-menu {
    padding-left: 35px;
    height: 100%;
}

.footer-menu li a {
    color: #f0eede;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    padding-right: 25px;
    margin-top: 40px;
}

.copy-container {
    text-align: center;
    height: 100%;
    margin: 0;
}

.copy {
    color: #f0eede;
    font-weight: 200;
    margin-top: 70px;
}


.social {
    height: 100%;
    text-align: right;
    padding-top: 37px;
}

.social-links {
    color: #f0eede;
    font-size: 26px;
    width: 30px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}


.social-links:last-child {
    margin-right: 25px;
}

/* Media Queries----------------------------------------------Media Queries*/

@media screen and (max-width: 767.98px) {
    .footer-menu {
        text-align: center;
        padding-left: 0px;
    }

    .footer-menu li a {
        margin-top: 20px;
    }

    .social {
        text-align: center;
        margin-right: 0;
        padding-top: 7px;
    }
}

/* Contact Page/HOW?--------------------------------------Contact Page/HOW?*/

.bg-color-how-page {
    min-height: 350px;
    background-color: #f0eede;
}

.how-heading {
    padding-top: 1.5rem;
    padding-bottom: 0.75rem;
    font-family: "Bitter", sans-serif;
}

.form-container {
    width: 80%;
    margin: 0 auto; 
    font-family: "Bitter", sans-serif;
}

.form-button {
    color: #f0eede;
    background-image:
            linear-gradient(131deg in oklab,
            oklch(48% 0.09 243) 0%, oklch(48% 0.09 243 / 80%) 33% 67%, oklch(48% 0.09 243) 100%);
    margin-bottom: 1.5rem;
}

/* Why page--------------------------------------------------------Why page*/

.bg-color-why-page {
    min-height: 500px;
    background-image:
        linear-gradient(131deg in oklab,
            oklch(26% 0.15 21) 0%, oklch(26% 0.15 21 / 80%) 33% 67%, oklch(26% 0.15 21) 100%);
}

#video-header {
    padding-top: 4.5rem;
}

.why-header {
    color: #f0eede;
    font-family: "Bitter", sans-serif;
    text-align: center;
    padding-top: 1.5rem;
}

.why-header-text {
    color: #f0eede;
    font-family: "Bitter", sans-serif;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.music-video {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
}

#review-header {
    padding-top: 3rem;
}

.review {
    color: #f0eede;
    font-family: "Bitter", sans-serif;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.review:first-child {
    padding-top: 0.5rem;
}

.review-text {
    font-size: 1rem;
    padding-top: 1rem;
    margin-bottom: 0;
}

.review-source {
    font-size: 0.8rem;
    font-style: italic;
    padding-top: 0.35rem;
}

.review-page-break {
    height: 0.35rem;
    width: 60px;
    margin: 0 auto;
    background-color: #f0eede;
    border-radius: 0.5rem;
}

.review-page-break:nth-of-type(23) {
    margin-bottom: 1.5rem;
}


