@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Global Styles----------------------------------------------Global Styles*/

.uppercase {
    text-transform: uppercase;
}

/*Colors-------------------------------------------------------------Colors*/

.bg-color-name-quote {
    background-color: #2e2e2c;
}

.menu-color-home {
    background-color: #4b5030;
}

.menu-color-who {
    background-color: #121314;
}

.menu-color-why {
    background-color: #420c11;
}

.menu-color-how {
    background-color: #09493e;
}



/* Header------------------------------------------------------------Header*/

header {
    margin: 0;
}

.heading {
    text-align: center;
    height: 200px;
}

.logo {
    background: url(../images/bedlam-carousel.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}



.name {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 36px;
    margin-top: 45px;
    color: #f0eede;
}

.quote {
    font-family: "PT+Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 60px;
    color: #f0eede;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0px;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menu-item {
    height: 100px;
    text-align: center;
    padding: 0;
}

.menu-item a {
    width: 100%;
    text-decoration: none;
    color: #f0eede;
    height: 100px;
}

.menu-item a i {
    padding-top: 15px;
    display: block;
    color: #f0eede;
    font-size: 26px;
}

.menu-item span {
    display: block;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
}



